<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!-- Step 4: Authentication Credentials -->
  <servers>
    <server>
      <id>nextwork-nextwork-devops-cicd</id>
      <username>aws</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>

  <!-- Step 5: CodeArtifact Repository Profile -->
  <profiles>
    <profile>
      <id>nextwork-nextwork-devops-cicd</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>nextwork-nextwork-devops-cicd</id>
          <url>https://nextwork-612811781937.d.codeartifact.ap-southeast-2.amazonaws.com/maven/nextwork-devops-cicd/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <!-- Step 6: (Optional) Mirror to Route All Requests Through CodeArtifact -->
  <mirrors>
    <mirror>
      <id>nextwork-nextwork-devops-cicd</id>
      <name>nextwork-nextwork-devops-cicd</name>
      <url>https://nextwork-612811781937.d.codeartifact.ap-southeast-2.amazonaws.com/maven/nextwork-devops-cicd/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>